/*CSS Stylesheet */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('reset.css');

/* PhotoSlider CSS - General Codrops Demo Style */
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
}
.clr{
	clear:both;
}
.content{
/*	margin:0px 25px 30px 25px;*/
}
.rg-image-wrapper{
	position:relative;
	padding:0px 30px;
/*	background:transparent url(../images/black.png) repeat top left;*/
    background-color: rgba(56,31,86,.50);
/*      background-color: rgba(255,250,255,.29);*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image-wrapper:hover{
          background-color: rgba(56,31,86,.65);
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;   
}
.rg-image img{
	max-height:100%;
	max-width:100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(56,31,86,.99) url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.6;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
    background-color: rgba(56,31,86,.99);
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
    color: red;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:1%;
}
.rg-view a{
	display:none;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
    
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
iframe {
border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/* Elastislide Style */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../images/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}
.rg-thumbs {
display: none;
}

/*  End Photoslider CSS*/

body {
    background:url(/images/backg3.png) center center fixed no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}

a {
color: rgba(56,31,86,.95);
}
.nav li  {
color: rgba(255,250,255,.99);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;   
}
a:active {
  color: rgba(56,31,86,.65);
}
a:hover {
  color: rgba(56,31,86,.95);
}
li a:active { 
    color: rgba(56,31,86,.95);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li{
display: inline;
    width: 100%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
     padding-top: 4px;
    text-align: center;
    border: solid 1px rgba(56,31,86,.35);
    background-color: rgba(56,31,86,.30);
     font-family: 'Playfair Display', serif;
}

li:hover {
    color: rgba(56,31,86,.95);
    background-color: rgba(255,250,255,.50);
    border: solid 1px rgba(56,31,86,.40);
}
h1 {
    font-size: 2.5em;
    margin: 0.11em 0.11em;
    text-align: center;
    color:rgba(255,250,255,.99);
    font-family: 'Playfair Display', serif;
    float:left;
    margin-left: 2%;
   text-shadow: 2px 1px rgba(56,31,86,.95);
}
h2 {
    font-size: 1.4em;
    margin: 0.71em 0.91em;
    text-align: center;
     color:rgba(255,250,255,.99);
     font-family:  cursive;
     text-shadow: 2px 1px rgba(56,31,86,.95);
}
h3 {
    font-size: 1.2em;
    color: rgba(56,31,86,.95);
    font-family: 'Playfair Display', serif;
   position: relative;
    bottom:20px;
    padding-top: 23px; 
}
h4{
    font-size: .9em;
    margin: 2.99em 3.41em;
    color: rgba(56,31,86,.95);
    font-family: 'Playfair Display', serif;
    display: inline;
   position: relative;
    bottom:18px;
    padding-top: 3px;
    color: rgba(255,250,255,.99);
    text-shadow: 2px 1px rgba(56,31,86,1);
     letter-spacing: 1.2px;
}
h5 {
     display: none;
}
.bowh5 {
       display: block;
        text-align: center;
        margin-top: 5%;
        font-family: 'bad script', cursive;
        font-size: 1.0em;
       letter-spacing: 2.3px;
       font-weight:200;
        color:rgba(255,250,255,.99);
        font-weight:600;
        padding-bottom: 7px;
}

/*contact info - top right*/

.call {
    display: inline;
    position: absolute;
    right: 2%;
    top:1%;
       background-color: rgba(56,31,86,.20);
    padding: -20px;
    padding-left: 0px;
    margin-right: 2%;
    border-radius: 100px;
    -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
    display:none;
    z-index: 1000;
}
.call:hover {
    background-color: rgba(255,250,255,.99);
}
.call2 {
    position: absolute;
    top:0;
    right:0;
    display: inline;
    margin-top: 3%;
}
.call2 h2{
    font-size: 1.3em;
    color: rgba(56,31,86,.95);
    text-shadow: 2px 1px rgba(56,31,86,0);
    margin-top: 12%;
    text-align: right;
    padding-right: 5px;
}
.call2 a h4{
    position: relative;
    left:25px;
    color: rgba(56,31,86,.95);
     text-shadow: 2px 1px rgba(56,31,86,0);
    font-weight: 600;
}
.email a h4 {
    position: relative;
    left:25px;
    color: rgba(56,31,86,.95);
     text-shadow: 2px 1px rgba(56,31,86,0);
    font-weight: 600;
    z-index: 99;
}
.email a h4:hover {
    color: rgba(255,250,255,.99);
}
.fa fa-phone-square fa-4x{
    padding-top: -20px;  
}
.panel2 h3 {
    font-size: 1.9em;
    text-align: center;
    color: #381f56;
       font-family: 'Playfair Display', serif;
}
.panel2 {
    background-color: rgba(255,245,255,.60);
    border: solid 1px rgba(56,31,86,.35);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
 .panel2a h3 {
    font-size: 1.9em;
    text-align: center;
     color: #381f56;
    font-family: 'Playfair Display', serif;
     color: rgba(255,245,255,1);
}
.panel2a {
/*     background-color: rgba(255,245,255,.5);*/
     background-color: rgba(56,31,86,.40);
    border: solid 1px rgba(56,31,86,.95);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel2b h3 {
    font-size: 1.9em;
    text-align: center;
    color: #381f56;
    font-family: 'bad script', cursive;*/
    font-family: 'Playfair Display', serif;
    margin-bottom: -20px;
}
.panel2b {
    background-color: rgba(255,245,255,.60);
    border: solid 1px rgba(56,31,86,.35);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel3{
    display: none;
}
.panel3a{
    display: none;
}
.panel4 {
    position: relative;
    float:right;
    margin-right: 8%;
    display: inline;
    padding-left: 25px;
}
.panel4 i{
    background-color: rgba(255,245,255,.50); 
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel4 i:hover {
    color:rgba(56,31,86,.65);
}
.panel4a {
    position: relative;
    right:20%;
    display: inline;
}
.panel4a i{
    background-color: rgba(255,245,255,.50); 
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel4a i:hover {
color:rgba(56,31,86,.65);
}

   
}
.panel5 {
    position: relative;
    float:right;
    margin-right: 8%;
    display: inline;
    padding-left: 25px;
}
.panel5 i{
    background-color: rgba(255,245,255,.50); 
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.panel5 i:hover {
    color:rgba(56,31,86,.65);
}
.panel6{
    position: relative;
    top:12px;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel7{
    position: relative;
    top:35px;
    display: inline;
    background-color: rgba(255,245,255,1); 
}
.panel7 .centerp2 {
    text-align: center;
    padding-top: .3%;
    padding-bottom: .3%;
    font-family: 'bad script', cursive;
    font-size: 2.1em;
    letter-spacing: 1.9px;
    font-weight:600;
    color:rgba(56,31,86,.95);
}
.panel7 h3 {
    color:rgba(56,31,86,.95);
    background-color: rgba(255,245,255,.5); 
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    padding: 7px;
    padding-left: 12px;
    margin-bottom: 20px;
}
.row {
    padding-top: 1%;
}
.centerp {
    text-align: center;
    margin-bottom: -.2%;
    padding-top: .3%;
    padding-bottom: .3%;
    font-family: 'bad script', cursive;
    font-size: 1.1em;
    letter-spacing: 1.9px;
    font-weight:600;
}
 .centerp2 {
    text-align: center;
    margin-bottom: -.2%;
    padding-top: .3%;
    padding-bottom: .3%;
    font-family: 'bad script', cursive;
    font-size: 1.1em;
    letter-spacing: 1.9px;
    font-weight:600;          
}
.centerp3 li{
    display: block;
    background-color: rgba(0,0,0,0);
    font-family: 'bad script', cursive;
    padding-bottom: 10px;
    font-size: 2.0em;
    margin-left: -1%;
    border: 1px solid rgba(0,0,0,0); 
    color: rgba(56,31,86,.95);
    font-weight:700;
}
 .panel2 .centerp1 {
     text-align: center;
     margin-bottom: .4%;
     margin-top: -2.5%;
     color: rgba(56,31,86,.95);
     font-family: 'bad script', cursive;
     font-size: 1.1em;
     letter-spacing: 1.7px;
     font-weight:700;
}

.panel2a .centerp1a {
    text-align: center;
    margin-bottom: -.2%;
    margin-top: -2%;
    color: rgba(255,245,255,1); 
    font-family: 'bad script', cursive;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    font-weight:700;
}
.panel2b .centerp1a {
     text-align: center;
     margin-bottom: -.2%;
     margin-top: -2%;
     color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    font-size: 1.3em;
    letter-spacing: 1.7px;
    font-weight:700;
}
.centerp1a {
    text-align: center;
    margin-bottom: -.2%;
    margin-top: -3%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    font-size: 1.1em;
    letter-spacing: 1.7px;
    font-weight:700;
}
.reviews {
    padding-top: 20px;
}
#rev {
    margin-bottom: -20px;
}
#rev iframe{
    margin-left: -1.5%;   
}    
#rev img{
    margin-left: -1.5%;
    border-radius:10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.about {
    display: inline;
    float: left;
    padding-bottom: 5px;
    
    margin-left: 0%;
    margin-top: 0%;
    background-color: rgba(255,245,255,.60);
    padding-top: 1%;
    padding-left: 1.1%;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.about2 {
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    background-color: rgba(255,245,255,.60);
    padding-top: 1%;
    padding-left: 1.1%;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.about h3 {
    text-indent: 25px;
}
.about2 h3 {
    text-indent: 25px;
}
.abouta {
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    background-color: rgba(255,245,255,.60);
    padding-top: 1%;
    padding-bottom: -2%;
    padding-left: 1.1%;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.abouta h3 {
    text-indent: 25px;
    font-size: 1.3em;
    padding-bottom: 19px;
    text-align: left;
}
.about .centerp {
    text-align: center;
    font-size: 2.3em;
     margin-bottom: -.2%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
   letter-spacing: 1.7px;
    font-weight:700;
}
.about .centerp2 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: -.2%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    letter-spacing: 1.7px;
    font-weight:700;
}
.about2 .centerp2 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: -.2%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    letter-spacing: 1.7px;
    font-weight:700;
}
.abouta .centerp {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: -1.7%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    letter-spacing: 1.7px;
    font-weight:700;
}
.runner{
    display: inline-block;
    float: right;
    width: 49%;
    margin-top: 2%;
    margin-bottom: -4%
}
.runner .centerp2 {
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5px;
    margin-bottom: .2%;
    margin-top: -3%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    letter-spacing: 1.7px;
    font-weight:700;
    position: relative;
    bottom:20px;
}
.runner2{
    display: inline-block;
    float:left;
    width: 50%;
    margin-top: 2%;
    margin-bottom: -4%
}
.runner2 .centerp2 {
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5px;
    margin-bottom: .2%;
    margin-top: -3%;
    color: rgba(56,31,86,.95);
    font-family: 'bad script', cursive;
    letter-spacing: 1.7px;
    font-weight:700;    
}
.centerp li {
    display: block;
    background-color: rgba(0,0,0,0);
    font-family: 'bad script', cursive;
    padding-bottom: 10px;
    font-size: 2.0em;
    border: 1px solid rgba(0,0,0,0);        
}
.centerp2 li {
    display: block;
    background-color: rgba(0,0,0,0);
    font-family: 'bad script', cursive;
    padding-bottom: 10px;
    font-size: 1.0em;
    border: 1px solid rgba(0,0,0,0);        
}
.footer {
    max-width: 1100px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top:-3%;
    margin-left: -23%;
}
.footer li{
    display: inline;
    width: 100%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    text-align: center;
    color: rgba(255,250,255,.99);
    background-color: none;   
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
      -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.footer li:hover {
  color: rgba(56,31,86,.95);
     background-color: rgba(255,250,255,.50);
       border: solid 1px rgba(56,31,86,.40);    
}
.footerbow {
    max-width: 1100px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    margin-bottom:2.5%;
/*    margin-top:1.0%;*/
}
.footerbow li{
    display: inline;
    width: 100%;
    margin-bottom: 1%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
    color: rgba(255,250,255,.99);
    background-color: none;   
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
      -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.footerbow li:hover {
    color: rgba(56,31,86,.95);
    background-color: rgba(255,250,255,.50);
    border: solid 1px rgba(56,31,86,.40); 
}
.copyw{
    position: absolute;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 4px;
    left: 33%;
    right:33%;
    font-family:'Playfair Display', serif;
    font-size: .8em
}
.copyw2{
    position: absolute;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 3.2%;
    left: 33%;
    right:33%;
     font-family:'Playfair Display', serif;
}

/* PhotoWheel */

.stepcarousel{
    float: right;
    position: relative; /*leave this value alone*/
    border: 10px solid rgba(56,31,86,.70);
    overflow: scroll;
    overflow-x: hidden;/*leave this value alone*/
    width: 54%; /*Width of Carousel Viewer itself*/
    height: 861px; /*Height should enough to fit largest content's height*/
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 700px;
}
.stepcarousel:hover{
    border: 10px solid rgba(56,31,86,.10);
}
.stepcarousel .belt{
    position: absolute; /*leave this value alone*/
    left: 0;
    top: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.stepcarousel .panel{
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    width: 100%; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
    background-color: rgba(56,31,86,.00);
    border: 1px solid rgba(56,31,86,.00);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#mygallery {
    background-color: rgba(255,245,255,.90);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    position: relative;
    bottom:20px;
}
#mygallery2 {
    background-color: rgba(255,245,255,.90);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 100%;
    height: 535px;
    margin-top: 10px;
}
#mygallery img {
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#mygallery h2 {
 font-size: 1.3em;
    color: rgba(56,31,86,.95);
       text-align: center; 
     text-shadow: 1px 1px rgba(255,240,255,0);
    position: relative;
    bottom: 22px;
}
.scroll {
    display: inline-block;
    margin-left: 25%;
    padding-right: 1%;
    position: relative;
    top:20px;
    bottom: 1px;
    font-size: 1.7em;
    color:rgba(56,31,86,.9);
    text-shadow: 1px 1px rgba(255,240,255,0);
    font-weight: 600;
     background-color: rgba(255,245,255,.6);
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.scroll i {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(56,31,86,1);
}
#mygallery i {
    padding-left: 5px;
    padding-right: 5px;
}
 .hotel {
     font-weight: 700;
     font-size: 1.2em;
    text-align: center;
     text-indent: 35px;
     padding-left: 7px;
      padding-right: 7px;
}
.hotel2 {
     position: relative;
     bottom: 30px;
     text-indent: 25px;
}
.runner .hotel3{
    display: inline;
    float: right;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    padding-left: 17px;
    text-indent: 25px;
    position: relative;
    bottom: 40px;
    left: 5px;
}
.hotel3 img{
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    position: relative;
    right: 5px;
    bottom: 10px;
    max-height: 300px;
}
.hotel3 .centerp2 {
position: relative;
    right: 28px;
    top:-9px;
}
.hotel4 .centerp2 {
position: relative;
  right:12px;
}
.runner2 .hotel4{
    display: inline;
    float: right;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 25px;
    position: relative;
    bottom: 50px;
}
.hotel4 img{
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    position: relative;
    right: 25px;
}

a h4:hover {
   color: rgba(56,31,86,1);
    text-shadow: rgba(56,31,86,0);
}
.bowimg img{
  border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 135px;
    height: 200px;
/*        background-color:rgba(56,31,86,.2);*/
}
.bowimg img:hover {
    opacity: 0;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border: 1.5px solid rgba(56,31,86,.7);
    scale: 2.0;
}

/*  Bow color Page Black/White Hover  */
#hiddenRP:hover{
   background-image: url(/images/Regal_Purple_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenEgg:hover{
 background-image: url(/images/Eggplant_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenP:hover{
 background-image: url(/images/Peach_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenRPi:hover{
 background-image: url(/images/RosePink_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenDR:hover{
 background-image: url(/images/Dusty_Rose_Black.png);
      background-repeat: no-repeat;
}
#hiddenHP:hover{
 background-image: url(/images/Hot_Pink_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenR:hover{
background-image: url(/images/Red_Organza_Bow_BlackChair.png);
      background-repeat: no-repeat;
}
#hiddenCR:hover{
background-image: url(/images/Candy_Apple_Red_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenO:hover{
background-image: url(/images/Orange_Organza_Bow_Black.png);
      background-repeat: no-repeat;
}
#hiddenCB:hover{
background-image: url(/images/Chocoloate_Brown_Organza_Bows_Black.png);
      background-repeat: no-repeat;    
}
#hiddenTB:hover{
background-image: url(/images/Tiffany_Blue_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenRB2:hover{
background-image: url(/images/Royal_Blue_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenTU:hover{
background-image: url(/images/Touruise_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenNB:hover{
background-image: url(/images/Navy_Blue_Organza_Bow_black.png);
      background-repeat: no-repeat;  
}
#hiddenY:hover{
background-image: url(/images/Yellow_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenYG:hover{
background-image: url(/images/Yellow_Gold_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenG:hover{
background-image: url(/images/Gold_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenS:hover{
background-image: url(/images/Silver_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenC:hover{
background-image: url(/images/Copper_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenL:hover{
background-image: url(/images/Lavender_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenRAS:hover{
background-image: url(/images/Rasberry_Organza_bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenSG:hover{
background-image: url(/images/Sage_Green_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenSKY:hover{
background-image: url(/images/Sky_Blue_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenI:hover{
background-image: url(/images/Ivory_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenW:hover{
background-image: url(/images/white_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenB:hover{
background-image: url(/images/Black_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
#hiddenBW:hover{
background-image: url(/images/Black_Chair_Cover.png);
      background-repeat: no-repeat;  
}
#hiddenBB:hover{
background-image: url(/images/Black_Chair_Cover.png);
      background-repeat: no-repeat;  
}
#hiddenBUR:hover{
background-image: url(/images/Burgundy_Organza_Bows_black.png);
      background-repeat: no-repeat;  
}
#hiddenWINE:hover{
background-image: url(/images/Wine_Burgundy_Organza_Bow_Black.png);
      background-repeat: no-repeat;  
}
/*Bow Color Page Black/White Hover Done */
/* Bow color Background starts*/
#eggBack{
background:url(/images/Egg_Back\.png) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}

#o{
background:url(/images/OrangeBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#lavBack{
background:url(/images/Lav_Back.png) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#peachBack{
background:url(/images/Peach_back.gif) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#RosePinkBack{
background:url(/images/Rose_Pink_back.gif) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#HotPink_Back{
background:url(/images/Hot_Pink_Back.png) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#RasberryBack{
background:url(/images/Rasberry_Back.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#RedBack{
background:url(/images/RedBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#CandyRed{
background:url(/images/CandyBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#BurBack{
background:url(/images/BurgundyBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#WineBack{
background:url(/images/WineBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#CopperBack{
background:url(/images/CopperBck.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#Cback{
background:url(/images/Cback.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#SageBack{
background:url(/images/SageBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#TiffBack{
background:url(/images/TiffBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#SkyBack{
background:url(/images/SkyBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#RoyalBack{
background:url(/images/RoyalBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#TurBack{
background:url(/images/TurBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#NavyBack{
background:url(/images/NavyBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#YellowBack{
background:url(/images/YellowBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#YGBack{
background:url(/images/YGBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#SBack{
background:url(/images/SBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#IBack{
background:url(/images/IBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#WBack{
background:url(/images/IBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#BBack{
background:url(/images/BlackBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#GoldBack {
background:url(/images/GoldBack.jpg) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
#NormalBack {
background:url(/images/backg3.png) center center fixed no-repeat;
      -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}






































#bowVid iframe{
margin-left: 1.4%;
    height:491px;
       width: 97%;
    margin-top: -1.3%;
}

.picborder{
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.picborder1{
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    margin-left: 5%;    
}
.panel8{
    padding-bottom: 3%;
    background-color: rgba(255,240,255,.50);
    border-radius: 10px;
    padding-right: 2%;
    margin-bottom: 1%;
}
.panel8 .centerp {
    font-size: 1.5em;
    color: rgba(56,31,86,.95);
    padding-top: 15px;
    text-align: center;
}
.panel9 table{
    margin-top: 3%;
    margin-left: 1.5%;
    margin-bottom: -1%;
    background-color:rgba(255,240,255,.60);
    border-radius:10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border: 0px;
    width: 97%;
}
.panel9 {
position: relative;
    bottom:20px;
}
.panel9 .centerp2{
    font-size: 2.3em;
}
.panel9 .centerp{
padding-top: 10px;
}
.panel9 .centerp1{
padding-top: 10px;
   margin-bottom:-10px;
}
.babyfooter2 ul {
    padding-bottom: 5%;
}
.babyfooter {
   margin-top: 1%;
}
.babyfooter li{
    display: block; min-width: 110px;
    margin-top: 1%;
    color: rgba(56,31,86,.7);
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel2b .row {
    padding-left: 10px;
    padding-right: 10px;
}
.hideslider {
    display: none;
}
#jumpMenu {
    position: relative;
    top:8px;
    background-color: rgba(56,31,86,.3);
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#jumpMenu:hover {
    background-color: rgba(56,31,86,.6);
}
.GuideHeader{
    font-size: 2.2em;
    margin: 0.11em 0.11em;
    text-align: center;
    color:rgba(56,31,86,.9);
    font-family: 'Playfair Display', serif;
    margin-left: 1%;
    margin-bottom: -10px;
}
#socialfoot{
    float: right;
    position: absolute;
    bottom: 20px;
    right:-55px;
}
#socialfoot2{
    float: right;
    position: absolute;
    bottom: -2px;
    right:-55px;
}
.nobowslide {
    padding-bottom: 12px;
}

/*Contact Form
/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
     border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
}
/* Centres the form within the page */
form 
{
    margin:0 auto;
    width:100%;
    padding: 25px;
    padding-bottom:0px;
    margin-bottom: 30px;
    border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    float: left;
}
/* Styles the text boxes */
input, textarea, file {
	width: 100%;
	height:27px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid rgba(56,31,86,.7);
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
    background-color:rgba(255,240,255,.9);   
}
	input:focus, textarea:focus {
}
/* Styles the text area boxes (message field) */	
textarea 
{
	height:213px;
}
/* Styles the submit button */
#submit {
	/* background:url(images/submit.png); */
	width:49%;;
	height:48px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:10px;
	cursor:pointer;
    border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    background-color: rgba(56,31,86,.8);
    color: rgba(255,240,255,.6);
    border: 1px solid rgba(255,240,255,.6);
    float: left;
}
/* Styles the submit hover */	
#submit:hover {
	opacity:0.7;
    background-color: rgba(255,240,255,.7);
    border: 1px solid rgba(56,31,86,.8);
    color: rgba(56,31,86,.8);
}
/* Styles the cancel button*/	
#cancel {
	/* background:url(images/cancel.png); */
	width:49%;
	height:48px;
	text-align: center;
	/* text-indent:-9999px; */
	margin-top:10px;
	cursor:pointer;
    float:right;
    border: 1px solid rgba(255,240,255,.6);
     border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    background-color: rgba(56,31,86,.8);
    color: rgba(255,240,255,.6);
}
/* Styles the cancel hover */
#cancel:hover {
	opacity:0.9;
    background-color: rgba(255,240,255,.7);
    border: 1px solid rgba(56,31,86,.8);
    color: rgba(56,31,86,.8);
}
.submit{
    position: relative;
    left: 100px;
}
.panel6 .centerp {
    font-size: 1.7em;
    color: rgba(255,240,255,.9);
}
.centerp3 li:hover{
    background-color: rgba(0,0,0,0);
    border:0px;
    color: rgba(56,31,86,1);
}
#hideabout{
    font-family: 'Playfair Display', serif;
}
#chairh3{
font-family: 'Playfair Display', serif;
}
.bowtexts{
background-color: rgba(255,240,255,.7);
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    padding: 10px;
    margin: 15px;
    margin-left: 0px;   
    margin-right: 0px;   
}
#bowh3{
margin-top: 10px;
}
#fill{
background-color: rgba(255,240,255,.9);
}
#fill2{
  background-color:  rgba(56,31,86,.9);
}
#fill2:hover{
 color: rgba(255,240,255,.9);
    background-color:  rgba(56,31,86,.7);
}
#fill3{
background-color: rgba(255,240,255,.9);
padding-bottom: 5px;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 90%;
}
#fill4{
background-color: rgba(255,240,255,.8);
padding-bottom: 5px;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 90%;
    color: rgba(56,31,86,1);
}
#fill4:hover{
background-color:rgba(56,31,86,.5);
    color: rgba(255,240,255,.9);
}
#fill5{
background-color: rgba(56,31,86,.4);
}
#light{
color: rgba(255,240,255,.9);
}
#dark{
color: rgba(56,31,86,1);
    text-shadow: none;
}
#footdown{
    margin-top: 0px;
}
#up{
position: relative;
    bottom: 10px;
}
#down{
position: relative;
    bottom: -10px;
}
.bowh5 {
    font-size: 1.2em;
    position: relative;
    top:10px;
}
#siteL {
padding-bottom: 25px;
}
#ut {
margin-right: 10px;
}
#homeVid{
margin-right: 10px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1023px) {
.bowh5 {
    font-size: 1.0em;
}
    
    .footer{
padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 7px;
}
#socialfoot, #socialfoot2{
padding-right:20px;
}
.bowimg{
    margin-left: 10%;
}

.bowimg img:hover {
    opacity: 1;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border: 1.5px solid rgba(56,31,86,.6);
    background-color: rgba(255,240,255,.9);
    scale: 2.0;
}
/*  Bow color Page Black/White Hover  */
#hiddenRB:hover,#hiddenEgg:hover,#hiddenP:hover,#hiddenRP:hover,#hiddenDR:hover,#hiddenHP:hover,#hiddenR:hover,#hiddenCR:hover,#hiddenO:hover, #hiddenCB:hover,#hiddenTB:hover,#hiddenRB2:hover,#hiddenTU:hover, #hiddenY:hover, #hiddenYG:hover,#hiddenG:hover,#hiddenS:hover,#hiddenC:hover,#hiddenL:hover,#hiddenRAS:hover,#hiddenSG:hover,#hiddenI:hover,#hiddenW:hover,#hiddenB:hover,#hiddenBW:hover,#hiddenBB:hover,#hiddenSKY:hover,#hiddenNB:hover,#hiddenRPi:hover,#hiddenBUR:hover,#hiddenWINE:hover{
   background-color: rgba(0,0,0,0);
      background-repeat: no-repeat;
    display: inline;
}
    
.ifhide{
    display: none;
}
#rev h2 {
    width: 90%;
    right:75px;
    background-color: rgba(0,0,0,0)
}

}
@media only screen and (max-width: 825px) {

    .footer{
padding-right: 80px;
    padding-bottom: 40px;
    padding-top: 7px;
}
body {
    background-color:rgba(255,240,255,.90);
}
#rev h2 {
    width: 90%;
    right:85px
}
    
/* Bow Color Page Hover B/w   */
    
.bowimg img:hover {
    opacity: 1;
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border: 1.5px solid rgba(56,31,86,.7);
    background-color: rgba(56,31,86,.5);
    scale: 2.0;
}

/*  Bow color Page Black/White Hover  */
#hiddenRB:hover,#hiddenEgg:hover,#hiddenP:hover,#hiddenRP:hover,#hiddenDR:hover,#hiddenHP:hover,#hiddenR:hover,#hiddenCR:hover,#hiddenO:hover, #hiddenCB:hover,#hiddenTB:hover,#hiddenRB2:hover,#hiddenTU:hover, #hiddenY:hover, #hiddenYG:hover,#hiddenG:hover,#hiddenS:hover,#hiddenC:hover,#hiddenL:hover,#hiddenRAS:hover,#hiddenSG:hover,#hiddenI:hover,#hiddenW:hover,#hiddenB:hover,#hiddenBW:hover,#hiddenBB:hover,#hiddenSKY:hover,#hiddenNB:hover,#hiddenRPi:hover,#hiddenBUR:hover,#hiddenWINE:hover {
   background-image: url(/images/black.gif);
}
    
.about {
    width: 100%;
} 
.runner, .runner2{
    padding-top: 15px;
}
h1{
    font-size: 2.3em;
    float:left;
    margin-left: 2%;
    margin-bottom: -1.8%;
   text-shadow: 1px 1px rgba(255,240,255,0);
}
h5{
   display: block;
    text-align: center;
    margin-top: 5%;
   font-family: 'bad script', cursive;
    font-size: 1.2em;
    letter-spacing: 1.9px;
    font-weight:500;
    color:rgba(255,240,255,.90);
}    
.call:hover {
    background-color: rgba(56,31,86,.0);
}
    
.call2 h2 {
   position: relative;
     bottom:10px;
}
 .call2 h4 {
    display: inline;
     bottom:27px;
}
.panel4{
        position: relative;
        bottom:5px;
}    
.panel5{
    position: relative;
    bottom:5px;
}
.nav li {
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(56,31,86,.4);
}
.nav {
    margin-bottom: -1.6%;
    margin-top: -.5%;
}
.call a {
    color:rgba(56,31,86,.85);    
}
 .call a:hover {
     color:rgba(56,31,86,.5);    
} 
ul{
    padding-top: 2%;
    padding-bottom: 2%
}
li{
    display: inline;
    width: 100%;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-weight: 500;
    background-color: rgba(56,31,86,.5);  
}    
li:hover {
    color: rgba(255,250,255,.99);
    background-color: rgba(56,31,86,.5);
    border: solid 1px rgba(56,31,86,.85);
}
.row {
    padding: -1%;
}
.centerp {
    text-align: center;
    margin-bottom: -.2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.panel2 {
     background-color: rgba(255,250,255,.6);
} 
.panel2 h3 {
    font-size: 2.0em;
    text-align: center;
}
h1 {
    color: rgba(56,31,86,.95);
}
.panel2 .centerp1 {
    color: rgba(56,31,86,.95);
    padding-bottom: 1%;
}    
.panel2a {
/*    background-color: rgba(255,250,255,.6);*/
}  
.panel2a h3 {
    font-size: 2.0em;
    text-align: center;
}
h1 {
    color: rgba(56,31,86,.95);
}
.panel2a .centerp1 {
    color: rgba(56,31,86,.95);
    padding-bottom: 1%;
}
.panel2b {
    background-color: rgba(255,250,255,.6);
} 
.panel2b h3 {
    font-size: 2.0em;
    text-align: center;
}
h1 {
color: rgba(56,31,86,.95);
}        
.panel2b .centerp1 {
    color: rgba(56,31,86,.95);
    padding-bottom: 1%;
} 
.footer li {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    background-color: rgba(56,31,86,.85);    
}
.footer li:hover {
    background-color: rgba(56,31,86,.50);
}    
.footerbow li {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    background-color: rgba(56,31,86,.85);    
}
.footerbow li:hover {
    background-color: rgba(56,31,86,.50);
}  
.stepcarousel{
    position: relative; /*leave this value alone*/
    border: 10px solid rgba(56,31,86,.50);
    overflow: scroll;
    overflow-x: hidden;/*leave this value alone*/
    width: 95%; /*Width of Carousel Viewer itself*/
    height: 600px; /*Height should enough to fit largest content's height*/
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 2.5%;     
}
.stepcarousel .belt{
    position: absolute; /*leave this value alone*/
    left: 0;
    right:15;
    top: 0;
}
.stepcarousel .panel{
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    margin: 10px; /*margin around each panel*/
    width: 100%; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
    background-color: rgba(56,31,86,.00);
    border: 1px solid rgba(56,31,86,.00);
}
#mygallery {
    background-color:  rgba(255,245,255,.90);
    max-height: 500px;
    max-width: 600px;
    right: 9%
}
#mygallery img{
position: relative;
left:2%;
}
.copyw{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 33%;
    right:33%;
}
.copyw2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 33%;
    right:33%;
}
.scroll {
    display: inline-block;
    margin-top: 30px;
    margin-left: 32%;
    margin-bottom: -1%;
    position: relative;
    bottom: 0px;
    font-size: 1.5em;
    color:rgba(56,31,86,.9);
    text-shadow: 1px 1px rgba(255,240,255,0);
    font-weight: 600;
    background-color: rgba(255,245,255,0);
}
.scroll i {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(56,31,86,1);
}
 .footerbow #socialfoot, #socialfoot2, .call, .panel2b #hideabout, .panel9  {
     display: none;
}
.footer {
     margin-left: 0%;
}
}
@media only screen and (max-width: 780px) {

#o, #eggBack, #lavBack, #peachBack, #RosePinkBack, #HotPink_Back, #RasberryBack, #RedBack,#CandyRed,#BurBack, #WineBack, #CopperBack, #Cback, #TiffBack, #SageBack, #SkyBack, #RoyalBack, #TurBack, #NavyBack, #YellowBack, #YGBack, #SBack, #IBack,#WBack, #BBack{
    background:url(/images/backg3.png) center center fixed no-repeat;
    -moz-background-size: contain;
    background-size: contain;
    background-size: cover;
    background-size: cover;
}
.bowh5 {
    position: relative;
    top:0px;
    left:30px;
}
.scroll {
    margin-left: 29%;
}
#rev h2 {
    width: 100%;
    margin-left: 70px;
    font-size: 1.1em;
}
.runner{
    position: relative;
    float:none;
    width: 100%;
    padding-right: 60px;    
}    
.runner img{
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}
.runner2 {
    width: 100%;
}
.bowimg{
    margin-left: 5%;
}
.bowh5{
    margin-left: -30%;
}
.panel7 h3 {
    font-size: 1em;
}
.copyw2, .hidefooter {
    display: none;
}
.copyw{
    left:0%;
    right:0%;    
}
}
@media only screen and (max-width: 751px) {
.bowh5 {
    position: relative;
    top:0px;
      left:0px;
}
    .scroll {
    margin-left: 23%;
    font-size: 1.0em
}
.runner{
    position: relative;
    right:0%;
}
#rev h2 {
    width: 100%;
    margin-left: 70px;
    font-size: 1.5em;      
}
#mygallery2 {
    left: 3%;
}
#mygallery {
left:.2%;
    top:20px;
    margin-bottom: 50px;
}
#mygallery img{
left:-10px;
}
.runner img {
    position: relative;
    left:-1%;
}
.bowimg{
    margin-left: 0%;
}
    .bowh5{
    margin-left: 0%;
}
.bowimg img{
   margin-left: 21%;
}
.panel2 h3 {
    font-size: 1.5em;
}
.panel2 .centerp1 {
    margin-top: -2.8%
}
.panel2a .centerp1 {
     margin-top: .8%
}
    
.panel2b .centerp1 {
    margin-top: .8%
}
.call2 h2, .hideabout, .call2 h4 {
    display:none;
}
.panel4 {
     min-width: 180px;
    position: relative;
    top:36px;
}
.panel5 {
     min-width: 180px;
    position: relative;
    top:36px;
}   
}
/*  Small Screen*/
@media only screen and (max-width: 575px) {
.about .centerp2 {
    text-align: center;
    margin-bottom: -.2%;
    padding-top: .3%;
    padding-bottom: .3%;
    font-family: 'bad script', cursive;
    font-size: 1.7em;
    letter-spacing: 1.9px;
    font-weight:600;     
}
#rev h2 {
    width: 107%;
    display:inherit;
}
#rev p{
    width: 80%;
    margin-left: 10%
}
#rev img{
    margin-left: 5.5%;
    border-radius:10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#mygallery2 {
    left: 2.5%;
    margin-top:6%;
}
.bowimg{
    margin-left: -10%;
}
.bowh5{
    margin-left: 0%;
}
.bowimg img{
    border-radius: 10px;
     -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    width: 105px;
    height: 160px;
}
.panel2 h3 { 
    position: relative;
    bottom:6px;
    font-size: 1.1em;
}  
.panel2 {
    margin-top: 9.5%;
    background-color: rgba(255,250,255,.80);
}
    
.panel2 .centerp1 {
    color: rgba(56,31,86,1);
} 
.panel2a h3 { 
    position: relative;
    bottom:6px;
}
.panel2a {
    margin-top: 9.5%;
/*    background-color: rgba(255,250,255,.80);*/
}
.panel2a .centerp1 {
    color: rgba(56,31,86,1);
}
.panel2b h3 { position: relative;
    font-size: 1.4em
}
.panel2b {
    margin-top: 9.5%;
    background-color: rgba(255,250,255,.80);
}
.panel2b .centerp1 {
    color: rgba(56,31,86,1);
}
li {
    display: none;
}
.panel3 {
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    height: 60px;
    width: 100%;
    align-content: center;
    padding-top: 2%;
    margin-left: 4%;  
}
.panel3 i{
    background-color: rgba(255,245,255,.50);
    padding-right: 6px;
    padding-left: 6px;
     border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.panel3 i:hover{
    color: rgba(56,31,86,.70);
}
.panel3 a:active{
    color: rgba(56,31,86,.70);
}
.panel3a {
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    height: 60px;
    width: 100%;
    align-content: center;
    padding-top: 0%;
    margin-top: 3%;
    margin-bottom: 11%;
    margin-left: 3%;  
}
.panel3a i{
    background-color: rgba(56,31,86,.20);
    padding-right: 6px;
    padding-left: 6px;
     border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.panel3a i:hover{
    color: rgba(56,31,86,.70);
}
    
.panel3a a:active{
    color: rgba(56,31,86,.70);
}
h1 {
    font-size: 1.1em;
    float: left;
    padding-left: 3%;
    padding-top: 3
}
#mygallery {
    max-height: 350px;
    position: relative;
    top:10px;
    left:.7%;
}
#mygallery img{
    margin-left: 4px;
}
.scroll {
    width: 90%;
    position: relative;
    right:55px;
    font-size: 1.0em;
}
.scroll i {
    padding-left: 0px;
    padding-right: 7px;
    color: rgba(56,31,86,1);
}
.stepcarousel .panel{
    width: 130%;
    position: relative;
    right:16%;
}
.stepcarousel .panel img{
   padding: -17%;
}
.stepcarousel{
    width: 85%;
    margin-right: 7%;
}
 .footer {
    width: 100%;
}
.footer li{
    padding-bottom: 7px;
    padding-top: 7px;
}
.footer li:hover{
     background-color: rgba(255,245,255,.70);
}
.footer a{
    font-size: .8em;
}
.footerbow {
    width: 100%;
}
.footerbow li{
    padding-bottom: 7px;
    padding-top: 7px;
}    
.footerbow li:hover{
     background-color: rgba(255,245,255,.70);
}
.footerbow a{
    font-size: .8em;
}
#footdown{
margin-top: 20px;
}

.centerp3{
    margin-top: -7%;
    margin-bottom: -3%;
}
.centerp3 li{
    margin-top: -4%;
    font-size: 1.5em;
}
.centerp3 li:hover{
    background-color: rgba(0,0,0,0);
    border:0px;
    color: rgba(56,31,86,1);
}
.about2 {
    background-color: rgba(255,245,255,.80);
    margin-top: 10%;
}
.about {
    background-color: rgba(255,245,255,.80);
    margin-top: 10%;
}
.call i{
    color: rgba(56,31,86,1);
    margin-bottom: 10px;
}   
.call {
    display: inline;
    position: absolute;
    right: 2%;
    top:1%;
    background-color: rgba(56,31,86,.0);
    padding: -20px;
    padding-left: 0px;
    margin-right: 2%;
    border-radius: 100px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;    
    background-color: rgba(255,245,255,.80);
    border-radius: 100px;
    max-height: 60px;
    margin-right: 3%;
}
.about h3 {
    padding-left: 2.5%;
    padding-right: 1.5%;
    font-size: 1.2em;
}
.panel6{
    margin-top: 5.5%;
}
.babyfooter {
   margin-top: 5%;
}
.babyfooter li{
    display: block; min-width: 110px;
    margin-top: 1%;
    color: rgba(56,31,86,.7);
    background-color: rgba(56,31,86,.3);
    border-radius: 10px;
}
.runner img{
    width: 100%;
    position: relative;
    padding-bottom: 0px;
}
.runner{
    width: 100%;
    padding-right: 20px;
}
.panel2a .row {
    position: relative;
    left:3%;
}
.panel2b .row {
    padding-left: 10px;
    padding-right: 10px;
}
.copyw{
    left:0%;
    right:0%;    
}
form{
    margin:0 auto;
    width:100%;
    padding: 25px;
    border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    float: left;
}
.panel9 .centerp2{
font-size: 1.5em;
}
.bowtexts, .panel9, .copyw2, .showslider, #hidepics, #bowVid iframe, #hidebows, .hidefooter, .panel h2, .call2, .centerp1, .centerp2  {
display: none;
}
#bowh3{
margin-top: -9px;
}
.scroll{
font-size: 2.0em;
}

}